Repository wang-lawrence/week-planner: changes, and which lint-staged commands are due for each by the changed paths.
All: markuplint, stylelint --fix, eslint --fix

basic styling and html
  index.html
  styles.css
Due: markuplint, stylelint --fix

Added things plus basic modal.
  index.html
  styles.css
Due: markuplint, stylelint --fix

Added save stuff.
  index.html
Due: markuplint

Modal
  index.html
  styles.css
Due: markuplint, stylelint --fix

model functionality, some data model work
  data.js
  index.html
  main.js
  styles.css
Due: markuplint, stylelint --fix, eslint --fix

Added more things.
  data.js
  index.html
  main.js
Due: markuplint, eslint --fix

stored to local storage
  index.html
  main.js
Due: markuplint, eslint --fix

table css
  index.html
  styles.css
Due: markuplint, stylelint --fix

Added view stuff.
  index.html
  styles.css
Due: markuplint, stylelint --fix

Switch views
  main.js
Due: eslint --fix

add entry to table
  index.html
  main.js
Due: markuplint, eslint --fix

Added more stuff.
  main.js
Due: eslint --fix

parsed json data from local storage
  main.js
Due: eslint --fix

display all entries for a day
  main.js
Due: eslint --fix

Added a few more things.
  main.js
Due: eslint --fix

user can revise entry. for new entries, view will switch to the day that was added to
  index.html
  main.js
  styles.css
Due: markuplint, stylelint --fix, eslint --fix

added delete button and functionality
  main.js
Due: eslint --fix

added form reset to the add entry function
  main.js
Due: eslint --fix

Path conditions:
  markuplint: any of: *.html
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.js
